@import url(tina.css);




// ============ Start About Part Two ============


#about-partTwo{

    .information{

        .skill{
            margin-bottom: 2rem;
            h4{
            color: #000 ; 
            font-weight: normal;
            margin-bottom: 1rem;
            text-transform: uppercase;
            }
            .skill-rate{
            background: #dedadc;
            height: 5vh;
            


            span{
                height: 100%;
                display: block;
                background: var(--main-color);
                position: relative;
                &::after{
                content: "";
                position: absolute;
                border-style: solid;
                border-width: 8px;
                border-color: black transparent transparent;
                right: -8px;
                top: -15px;
            }
            &::before{
                content: attr(data-progress);
                position: absolute;
                background-color: black;
                color: white;
                top: -39px;
                right: -18px;
                padding: 4px 0;
                width: 40px;
                text-align: center;
                border-radius: 4px;
            }
            }
            .html{
                width: 90%;

                
            
            }
            .css{
                width: 70%;


            }
            .js{
                width: 80%;


            }
            .sass{
                width: 70%;

            }


        }
        
    }
        

    }
}





